# VietDub Solo Dependencies

streamlit
git+https://github.com/openai/whisper.git
numba>=0.57.0
llvmlite>=0.40.0
python-dotenv
requests
moviepy<2.0.0
decorator
ffmpeg-python
pandas
pydub
yt-dlp
torch
numpy
