# VietDub Solo Dependencies

streamlit>=1.32.0
openai-whisper>=20231117
python-dotenv>=1.0.0
requests>=2.31.0
moviepy<2.0.0
decorator<5.0.0
pyaudioop  # Sửa lỗi ModuleNotFoundError: No module named 'audioop' trên Python 3.13
ffmpeg-python>=0.2.0
pandas>=2.0.0
pydub>=0.25.1
yt-dlp>=2024.1.0
torch>=2.0.0
numpy>=1.24.0
